* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

button:hover:enabled {
    cursor: pointer;
}

/* Lists with no bullets/default padding and margin */
.unbulleted-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.icon-item {
    display: inline;
    padding: 0 5px;
}

.button-icon {
    border: none;
    background: none;
    padding: 0;
    color: black;
}

.button-icon:hover {
    transform: rotate(10deg);
}

.menu-container {
    display: flex;
    align-items: center;
}

.icon-container {
    float: left;
    padding: 0 10px;
    text-align: center;
    margin: 0 5px;
}

.icon-text {
    font-size: 0.7em;
    font-weight: 700;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #cfa92a, rgb(241, 197, 100) 100%);
    color: black;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid rgb(209, 209, 190);
}

.header-title {
    text-align: center;
    margin: auto;
}

.inline-block {
    display: inline-block;
}

.app {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.score-text {
    padding: 0 10px;
    font-size: 1.2em;
    font-weight: 600;
}

.chosen-word {
    color: red;
    letter-spacing: 10px;
}

.button-menu {
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.alert-container {
    margin: 20px;
    border-radius: 10px;
    border: 3px solid;
    width: 60%;
}

.alert-text {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    vertical-align: center;
}

.guess-elements > * {
    margin: 0 5px;
    font-size: 1.3em;
    border-radius: 10px;
}

.input-guess {
    border: 2px solid black;
    padding: 10px;
}

.input-guess:focus-visible {
    outline: none;
}

.submit-guess {
    font-weight: 500
}

.word-wrapper {
    max-height: 500px;
    width: 75%;
    overflow: auto;
}

.word-wrapper::-webkit-scrollbar {
    width: 6px;
}

.word-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
}

.word-wrapper::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.word-list {
    display: block;
    column-count: 2;
    padding-top: 15px;
    width: 100%;
}

/* To fix misalignment of first column using column-count
Source: https://stackoverflow.com/questions/63413498/unaligned-first-columns-with-column-count */
.word-list:before {
    content:"";
    display:block;
    margin-top:-1.15em;
}

.word-container {
    padding: 10px 10px;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    height: 60px;
}

.word-container:nth-child(even), .button-primary:hover {
    background: linear-gradient(90deg, #cfa92a, rgb(241, 197, 100) 100%);
}

.word-container:nth-child(odd), .button-secondary:hover {
    background: linear-gradient(90deg, rgb(241, 197, 100), #cfa92a) 100%;
}

.button-primary:hover, .word-container:nth-child(even):hover {
    animation: tilt-shake-cw 0.5s;
}

.button-secondary:hover, .word-container:nth-child(odd):hover {
    animation: tilt-shake-acw 0.5s;
}

.letter {
    padding: 0 5px;
    margin: 0 5px;
    border: 2px solid black;
    font-size: 1.8em;
    font-weight: 700;
    width: 40px;
}

body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-heading {
    font-size: 18px;
    letter-spacing: 0.1rem; 
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 5px;
}

.modal-heading, .icon-text {
    text-transform: uppercase;
}

@keyframes tilt-shake-cw {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

@keyframes tilt-shake-acw {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}