* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

button:hover:enabled {
    cursor: pointer;
}

/* Lists with no bullets/default padding and margin */
.unbulleted-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.icon-item {
    display: inline;
    padding: 0 5px;
}

.button-icon {
    border: none;
    background: none;
    padding: 0;
    color: black;
}

.button-icon:hover:enabled {
    transform: rotate(10deg);
}

.button-icon:disabled {
    color: rgb(70, 70, 70);
}

.menu-container {
    display: flex;
    align-items: center;
}

.icon-container {
    float: left;
    padding: 0 10px;
    text-align: center;
    width: 60px;
}

.icon-text {
    font-size: 0.7em;
    font-weight: 700;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 65px;
    background: linear-gradient(90deg, #cfa92a, rgb(241, 197, 100) 100%);
    color: black;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid rgb(209, 209, 190);
}

.icon-list {
    justify-content: center;
    position: absolute;
}

.header-title {
    text-align: center;
    margin: auto;
}

.inline-block {
    display: inline-block;
}

.app {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.timer {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    margin: 0 0 10px 0;
}

.score-container {
    padding: 0 5px;
}

.score-text {
    padding: 10px 10px 0 10px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.score-latest-text {
    color: red;
    padding-top: 10px;
    text-align: center;
}

.score-latest-text:hover {
    animation: go-up 0.8s;
}

.score-text, .score-latest-text {
    margin: 0;
}

.chosen-word {
    color: red;
    letter-spacing: 10px;
}

.button-menu {
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: black;
    border-color: black;
}

.alert-container {
    margin: 20px;
    border-radius: 10px;
    border: 3px solid;
    width: 40%;
}

.alert-text {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    vertical-align: center;
}

.guess-elements > * {
    margin: 0 5px;
    font-size: 1.3em;
    border-radius: 10px;
}

.input-guess {
    border: 2px solid black;
    padding: 10px;
}

.input-guess:focus-visible {
    outline: none;
}

.submit-guess {
    font-weight: 500
}

.input-guess:disabled, .submit-guess:disabled {
  border-color: 1px solid #999999;
  background-color: #cccccc;
  color: rgb(70, 70, 70);
}

.input-guess:disabled .submit-guess:disabled {
    background-color: #EAEAEA;
}

.word-wrapper {
    max-height: 500px;
    width: 75%;
    overflow: auto;
}

.word-wrapper::-webkit-scrollbar {
    width: 6px;
}

.word-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
}

.word-wrapper::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.word-list {
    display: block;
    padding: 5px;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.word-container {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    height: 60px;
    display: inline-block;
}

.word-container:nth-child(even), .button-primary:hover:enabled {
    background: linear-gradient(90deg, #cfa92a, rgb(241, 197, 100) 100%);
}

.word-container:nth-child(odd), .button-secondary:hover:enabled {
    background: linear-gradient(90deg, rgb(241, 197, 100), #cfa92a) 100%;
}

.button-primary:hover:enabled, .word-container:nth-child(even):hover {
    animation: tilt-shake-cw 0.5s;
}

.button-secondary:hover:enabled, .word-container:nth-child(odd):hover {
    animation: tilt-shake-acw 0.5s;
}

.letter {
    padding: 0 5px;
    margin: 0 5px;
    border: 2px solid black;
    font-size: 1.8em;
    font-weight: 700;
    width: 40px;
    height: 40px;
}

body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-heading {
    font-size: 18px;
    letter-spacing: 0.1rem; 
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 5px;
}

.modal-heading, .icon-text {
    text-transform: uppercase;
}

.rules-text {
    margin-top: 0;
}

@media screen and (max-width: 1000px) {
    .word-container {
        width: 300px;
        height: 50px;
    }

    .letter {
        width: 28.6px;
        height: 28.6px;
        font-size: 16px;
    }

    .alert-container {
        width: 60%;
    }
}

@media screen and (max-width: 650px) {
    .input-guess, .submit-guess, .score-container, .container {
        width: 100%;
        align-items: center;
    }

    .score-container {
        display: inline-block;
        width: 50%;
        vertical-align: center;
    }

    .score-number {
        display: block;
    }
    
    /* Only render latest text score if not too big*/
    .score-latest-text {
        display: none;
    }

    .header-title {
        text-align: right;
    }

    .alert-text, .button-menu {
        font-size: 1em;
    }

    .timer {
        font-size: 1.5em;
    }
}

@keyframes tilt-shake-cw {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

@keyframes tilt-shake-acw {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

@keyframes go-up {
    0% { transform: translate(0) }
    100% { transform: translateY(-20px)}
}