* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #cfa92a, rgb(241, 197, 100) 100%);
    color: black;
    padding: 20px;
}

.header-title {
    text-align: center;
    margin: auto;
}

.inline-block {
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    background: linear-gradient(90deg, #cfa92a, rgb(241, 197, 100) 100%);
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.score-text {
    padding: 0 10px;
    font-size: 1.2em;
    font-weight: 600;
}

.chosen-word {
    color: red;
    letter-spacing: 10px;
}

.button-new-word {
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.alert-container {
    padding: 0 30px;
    margin: 20px;
    border-radius: 10px;
    border: 3px solid;
    width: 40%;    
}

.alert-text {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.guess-elements > * {
    margin: 0 5px;
    font-size: 1.3em;
    border-radius: 10px;
}

.input-guess {
    border: none;
    padding: 10px;
}

.input-guess:focus-visible {
    border: none;
    outline: none;
}

.submit-guess {
    border: 2px solid black;
    padding: 10px 5px;
}

.word-list {
    width: 75%;
    column-count: 2;
}

.word-container {
    padding: 10px 10px;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    height: 60px;
}

.letter {
    padding: 0 5px;
    margin: 0 5px;
    border: 2px solid black;
    font-size: 1.8em;
    font-weight: 700;
    width: 40px;
}

button:hover {
    cursor: pointer;
    background-color: cyan;
  }